@page
@model CustomerCarePortal.Pages.Tickets.EditAgentModel
@{
}
<h1>Edit</h1>
<br />
<br />

<div class="row">
    <div class="col-md-6 row" style="margin-right:2px;">
        <div class="col-md-12">
            <form method="post" asp-page-handler="AgentHandler">
                <div class="card border-light mb-3" style="max-width: 100%;">
                    <div class="card-header">Ticket Details</div>
                    <div class="card-body">
                        <h5 class="card-title fw-bolder">@Model.Ticket.Email</h5>
                        <p class="card-text"><b class="fw-bold">Description:</b> @Model.Ticket.Description</p>
                        <p class="card-text"><b class="fw-bold">Assigned Team:</b> @Model.Ticket.TeamAssigned.Name</p>
                        <p class="card-text"><b class="fw-bold">Assigned Agent:</b>@Model.Ticket.AgentAssigned.Name</p>
                        <p class="card-text"><b class="fw-bold">Workflow Attached:</b>@Model.Ticket.Workflow.Name</p>
                        <p class="card-text">
                            <input type="hidden" asp-for="Ticket.Id" />
                            <input type="hidden" asp-for="Ticket.TrackingId" />
                            <input type="hidden" asp-for="Ticket.Description" />
                            <input type="hidden" asp-for="Ticket.Email" />
                            <input type="hidden" asp-for="Ticket.TeamAssigned.Id" />
                            <input type="hidden" asp-for="Ticket.AgentAssigned.Id" />
                            <input type="hidden" asp-for="Ticket.History.Id" />
                            <input type="hidden" asp-for="Ticket.CurrentStateId" />
                            <input type="hidden" asp-for="Ticket.WorkflowId" />

                            <!-- Team Assigned-->
                            <div class="form-group">
                                <label class="control-label">Apply Transition</label>
                                <select asp-for="Transition.Id" class="form-select w-50" asp-items="ViewBag.Transitions"></select>
                                <span asp-validation-for="Transition.Id" class="text-danger"></span>
                            </div>

                            <div class="form-group mt-3">
                                <input type="submit" value="Apply Transition" class="btn btn-success" />

                            </div>
                        </p>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- Comment History-->
    <div class="col-md-6 row">
        <div class="col-12 ">
            <h4>Edit History</h4>
            <div class="card" style="width: 100%;overflow:scroll;height:300px;">
                <ul class="list-group list-group-flush">
                    @if (@Model.Comments is not null)
                    {
                        @foreach (var comment in @Model.Comments)
                        {
                            <li class="list-group-item">@comment.Description</li>
                        }
                    }
                </ul>
            </div>
            <form asp-page-handler="AddComment">
                <input type="hidden" asp-for="Ticket.History.Id" />
                <input type="hidden" asp-for="Ticket.Id" />
                <label class="control-label">Enter Comment</label>
                <input asp-for="comment.Description" class="form-control" />
                <input type="submit" value="Add Comment" class="btn btn-success mt-1" />
            </form>
        </div>
    </div>
</div>


<div>
    <a class="btn btn-primary" asp-page="./Index">Back to List</a>
</div>